.select {
  width: calc(100% + 42px);
}

.icon {
  position: absolute;
  top: 0;
  right: 16px;
  z-index: -1;

  &::after {
    position: absolute;
    top: 2px;
    content: " ";
    display: inline-block;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
  }
}
